
.lists {
    margin-top: 150px !important;
}

.lists button {
    background-color: #ff5252; 
    color: white;
}

.form-group .radio-inline {
    margin-right: 18px;
}

.form-group input {
    margin-right: 6px;
}