html body {
    height: 100%;

}

body {
    /* background-image: url('https://wallpapercave.com/wp/5rVu3yG.jpg'); */
    background-image: url('https://images.wallpaperscraft.com/image/dog_beach_sand_footprints_sea_51356_1920x1200.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;

}

.content h1 {
    font-size: 100px;
    color: white;
}

.bg {
    height: 100%;
    width: 100%;
}

.content{
    margin-top: 200px !important;
}

.btns .btn {
    background-color:#ff5252;
    margin: 8px;
}

.btns a {
    color:white;
}


