html body {
    height: 100%;

}

body {
    background-image: url('https://wallpapercave.com/wp/5rVu3yG.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;

}




.bg {
    height: 100%;
    width: 100%;
}

.content{
    margin-top: 200px !important;
}

.btns .btn {
    background-color:#ff5252;
    margin: 8px;
}

.btns a {
    color:white;
}


