.content{
    margin-top: 180px !important;
}

.content .login-form {
    padding: 50px 120px 50px 120px;
    background-color: rgba(245, 245, 245, 0.774);
}

.content .login-form p {
    color: rgb(104, 104, 104);
}

.content button {
    background-color: #ff5252; 
}

.content a {
    color: white;
}